header {
  padding-top: 12px;
  padding-bottom: 28px;


  .number {
    display: flex;
    align-items: center;

    .num {
      margin-left: 13px;
      color: #606060;
    }
  }

  .glb {
    .heart {
      margin: 0 28px;
    }

  }
}

.header {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CDCDCD;
  }
  &__img{
    margin-bottom: 20px;
  }
}

.header__down {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav__btn a {
    color: #4F4F4F;
    text-decoration: none;
    padding-right: 36px;
    font-size: 18px;
  }

  .social {
    display: flex;
    align-items: center;

    & a {
      padding-right: 23px;
    }
  }

  .lang {
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-weight: 500;
    font-size: 18px;
    color: #4F4F4F;

    & p {
      padding-right: 11px;
    }
  }
}